* {
	margin: 0;
	padding: 0;
	border: none;
}

p, a, span {
	font-size: 12px;
	line-height: 16px;
}

.clear {
	clear: both;
}

body {
	background: #000;
}

#header {
	width: 100%;
	background: #fff;
}

#headerInner {
	margin: 0 auto;
	padding: 10px 0 10px 0;
	width: 800px;
}

#headerLogo {
	float: left;
}

#headerDescription {
	margin-left: 20px;
	float: left;
	color: #555;
	line-height: 30px;
}

#content {
	width: 100%;
	background: #dedede;
	border-top: solid 3px #777;
}

#contentInner {
	margin: 0 auto;
	padding: 10px 0 10px 0;
	width: 800px;
}

#footer {
	width: 100%;
	border-top: solid 3px #ff1493;
	background: #000;
}

#footerInner {
	margin: 0 auto;
	padding: 10px 0 10px 0;
	width: 800px;
}

#footerInner p {
	margin: 0;
	color: #ddd;
}