<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"> 
<head> 
<!-- Meta Tag --> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
	<meta http-equiv="Content-Style-Type" content="text/css" /> 
	<meta http-equiv="Pragma" content="no-cache" /> 
	<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0" /> 
<!-- Title Tag --> 
	<title><%- title %></title> 
<!-- Base Tag --> 
	<base href="http://sakura.nicocast.com:3456/" />
<!-- Other Tag --> 
	<link rel="stylesheet" href="./main.css" type="text/css" /> 
	<% if (page = "index") { %>
		<link rel="stylesheet" href="./index.css" type="text/css" /> 
	<% } %>
	<% if (page = "watch") { %>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="./watch.js"></script> 
		<link rel="stylesheet" href="./watch.css" type="text/css" /> 
	<% } %>
</head> 
<body>
<div id="header">
	<div id="headerInner">
		<a href="/"><img id="headerLogo" src="./miyukkivideo_logo.png" alt="logo" width="165" height="30"/></a>
		<p id="headerDescription">―最高の動画と最高の笑顔をあなたに―</p>
		<div style="clear: both"></div>
	</div>
</div>
<div id="content">
	<div id="contentInner">